.app{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(27, 121, 138);
}
form{
    background-color:white;
    border-radius: 5px;
    padding: 10px 60px;
}
form h2{
    color: black;
    text-align: center;
}
button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}